<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- 工程编码过滤器 -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>cn.luoyuequan.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>../webapps/OrderSystemManager/img/</param-value>
    </context-param>
    <!--登录模块-->
    <servlet>
        <servlet-name>LoginCheckServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.user.LoginCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheckServlet</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <!--管理员模块-->
    <servlet>
        <servlet-name>AdminPasswdUpdateServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.user.AdminPasswdUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPasswdUpdateServlet</servlet-name>
        <url-pattern>/page/AdminPasswdUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.user.AdminLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/page/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminListServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.user.AdminList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminListServlet</servlet-name>
        <url-pattern>/page/AdminList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.user.AdminDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <url-pattern>/page/AdminDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminAddServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.user.AdminAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAddServlet</servlet-name>
        <url-pattern>/page/AdminAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckInforServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.user.CheckInfor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckInforServlet</servlet-name>
        <url-pattern>/page/CheckInfor</url-pattern>
    </servlet-mapping>
    <!--导航栏模块-->
    <servlet>
        <servlet-name>NavListServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.nav.NavList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NavListServlet</servlet-name>
        <url-pattern>/page/NavList</url-pattern>
    </servlet-mapping>
    <!--系统属性模块-->
    <servlet>
        <servlet-name>SystemInforServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.system.SystemInfor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemInforServlet</servlet-name>
        <url-pattern>/page/SystemInfor</url-pattern>
    </servlet-mapping>
    <!--类型管理模块-->
    <servlet>
        <servlet-name>CatelogAddServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.catelog.CatelogAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatelogAddServlet</servlet-name>
        <url-pattern>/page/CatelogAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CatelogCheckExistServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.catelog.CatelogCheckExist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatelogCheckExistServlet</servlet-name>
        <url-pattern>/page/CatelogCheckExist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CatelogDeleteServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.catelog.CatelogDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatelogDeleteServlet</servlet-name>
        <url-pattern>/page/CatelogDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CatelogListServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.catelog.CatelogList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatelogListServlet</servlet-name>
        <url-pattern>/page/CatelogList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CatelogRestoreServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.catelog.CatelogRestore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatelogRestoreServlet</servlet-name>
        <url-pattern>/page/CatelogRestore</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CatelogSingleServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.catelog.CatelogSingle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatelogSingleServlet</servlet-name>
        <url-pattern>/page/CatelogSingle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CatelogUpdateServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.catelog.CatelogUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatelogUpdateServlet</servlet-name>
        <url-pattern>/page/CatelogUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CatelogRecycleDeleteServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.catelog.RecycleDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatelogRecycleDeleteServlet</servlet-name>
        <url-pattern>/page/CatelogRecycleDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CatelogRecycleListServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.catelog.RecycleList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatelogRecycleListServlet</servlet-name>
        <url-pattern>/page/CatelogRecycleList</url-pattern>
    </servlet-mapping>
    <!--菜品管理模块-->
    <servlet>
        <servlet-name>GoodsAddServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.goods.GoodsAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodsAddServlet</servlet-name>
        <url-pattern>/page/GoodsAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoodsCheckExistServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.goods.GoodsCheckExist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodsCheckExistServlet</servlet-name>
        <url-pattern>/page/GoodsCheckExist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoodsListServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.goods.GoodsList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodsListServlet</servlet-name>
        <url-pattern>/page/GoodsList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoodsDeleteServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.goods.GoodsDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodsDeleteServlet</servlet-name>
        <url-pattern>/page/GoodsDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoodsSingleServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.goods.GoodsSingle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodsSingleServlet</servlet-name>
        <url-pattern>/page/GoodsSingle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoodsUpdateServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.goods.GoodsUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodsUpdateServlet</servlet-name>
        <url-pattern>/page/GoodsUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoodsRestoreServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.goods.GoodsRestore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodsRestoreServlet</servlet-name>
        <url-pattern>/page/GoodsRestore</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoodsRecycleDeleteServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.goods.RecycleDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodsRecycleDeleteServlet</servlet-name>
        <url-pattern>/page/GoodsRecycleDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoodsRecycleListServlet</servlet-name>
        <servlet-class>cn.luoyuequan.controller.goods.RecycleList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodsRecycleListServlet</servlet-name>
        <url-pattern>/page/GoodsRecycleList</url-pattern>
    </servlet-mapping>
</web-app>